.carousel-item {
    background-color: rgba(0, 13, 50, 0.8);
    width: 100%;
    height: auto;
    padding: 5%;
    border-radius: 30px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
  